@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

/* atkinson-hyperlegible-next-200 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Atkinson Hyperlegible Next';
	font-style: normal;
	font-weight: 200;
	src: url('/fonts/atkinson-hyperlegible-next-v7-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* atkinson-hyperlegible-next-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Atkinson Hyperlegible Next';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/atkinson-hyperlegible-next-v7-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* atkinson-hyperlegible-next-600 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Atkinson Hyperlegible Next';
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/atkinson-hyperlegible-next-v7-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* atkinson-hyperlegible-mono-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Atkinson Hyperlegible Mono';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/atkinson-hyperlegible-mono-v8-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@theme {
	--font-display: 'Atkinson Hyperlegible Next', sans-serif;
	--font-sans: 'Atkinson Hyperlegible Next', sans-serif;
	--font-mono: 'Atkinson Hyperlegible Mono', monospace;
}

h1 {
	@apply font-display font-semibold;
}

h2 {
	@apply font-display font-normal;
}

p,
span,
li,
a,
button,
input,
textarea {
	@apply font-sans;
}

language-bash,
language-sql,
language-javascript,
language-json,
language-html,
language-css,
language-markdown,
language-yaml,
language-toml,
language-python,
language-rust,
language-c,
language-cpp,
language-csharp,
language-java,
language-kotlin,
language-go,
language-ruby,
language-swift,
language-typescript,
language-php,
language-perl,
language-shell,
language-dockerfile,
language-xml,
language-svg,
language-graphql,
language-undefined {
	@apply font-mono;
}
